.navbar {
    position: fixed; /* Ensures it stays on top */
    top: 0;
    left: 0;
    width: 99%;
    padding: 20px;
    background: rgba(77, 108, 152); /* Change color to make it visible */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* Ensures it's above other content */
    font-family: 'Poppins', sans-serif;
    word-spacing: 5px;
  }
  
  .logo {
    font-size: 26px;
    font-weight: 500; /* Medium weight */
    font-family: 'Almendra', serif;

  }
  
  .nav-links a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: 500; /* Medium weight */
    font-family: 'Poppins', sans-serif;
  }
  
  .nav-links a:hover {
    text-decoration:underline;
  }
