[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
sqlalchemy-serializer = "*"
pyjwt = "*"
werkzeug = "*"
flask-jwt-extended = "*"
gunicorn = "*"
flask = "*"
flask-cors = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
flask-mail = "*"
requests = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.12"
